<h1>My articles</h1>
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>

<div type="button" class="btn btn-primary" aria-label="Basic example">
<%= link_to "add a new article", new_article_path%>
</div>
